version: '2'
services:
  io:
    build: .
    command: node index.js
    volumes:
      - .:/usr/app/
      - /usr/app/node_modules
    ports:
      - "5005:5005"
    container_name: io
    restart: always