@media (min-width: 200px) and (max-width: 399px){

    #dropdown{
        display: block !important;    
            margin-right: 10px;
        float: right;
    }

    .row .col {
            padding: 0 1.75rem !important;
    }
    #logoTriangle{
            margin-right: 20px;
    margin-top: 5px;
    }

    #main{
            display: flow-root;
    }
    .navbar{
        height: 91px;
    }

    .navbar-menu{
        display: none !important;
        float: left !important;
        background-color:rgba(255, 255, 255, 0) !important;
        box-shadow: none !important;
        padding: 0.9rem 0 !important;
    }

    .navbar-burger{
        display: none !important;
    }

    .navbar-start{
        justify-content: flex-start;
        margin-right: auto;
        align-items: stretch;
        display: flex;
    }

    .navbar-brand{
        float: left;
    }
    .navbar-end{
        position: absolute;
        right: 17px;
        top: 21px;
    }

    .navbar-end{
        display: none;
        float: right;
    }
}


@media (min-width: 300px) and (max-width: 350px){

    #dropdown{    
        display: block !important;
            margin-right: 10px;
        float: right;}

    .row .col {
            padding: 0 1.75rem !important;
    }
    #logoTriangle{
            margin-right: 20px;
    margin-top: 5px;
    }


    #main{
            display: flow-root;
    }


    .container {
        width: 100% !important;
    }

    .logoText{}
    .hero-body {
        
    }
    .title{
        font-size: 1.7rem !important;
    }
    .columns.is-mobile{
            margin-left: 0px;
        width: 100%;
        display: block !important;
    }

    .navbar{
        height: 91px;
    }

    .navbar-menu{
        display: none !important;
        float: left !important;
        background-color:rgba(255, 255, 255, 0) !important;
        box-shadow: none !important;
        padding: 0.9rem 0 !important;
    }

    .navbar-burger{
        display: none !important;
    }

    .navbar-start{
        justify-content: flex-start;
        margin-right: auto;
        align-items: stretch;
        display: flex;
    }

    .navbar-brand{
        float: left;
    }
    .navbar-end{
        display: none;
        float: right;
    }

    
}

@media (min-width: 351px) and (max-width: 399px){

    #dropdown{    
        display: block !important;
            margin-right: 10px;
        float: right;}

    .row .col {
            padding: 0 1.75rem !important;
    }
    #logoTriangle{
            margin-right: 20px;
    margin-top: 5px;
    }

    #main{
            display: flow-root;
    }

  
    .container {
        width: 100% !important;
    }


    .logoText{}
    .hero-body {
        
    }
    .title{
        font-size: 1.7rem !important;
    }
    .columns.is-mobile{
            margin-left: 0px;
        width: 100%;
        display: block !important;
    }

    .navbar{
        height: 91px;
    }

    .navbar-menu{
        display: none !important;
        float: left !important;
        background-color:rgba(255, 255, 255, 0) !important;
        box-shadow: none !important;
        padding: 0.9rem 0 !important;
    }

    .navbar-burger{
        display: none !important;
    }

    .navbar-start{
        justify-content: flex-start;
        margin-right: auto;
        align-items: stretch;
        display: flex;
    }

    .navbar-brand{
        float: left;
    }
    .navbar-end{
        display: none;
        float: right;
    }
}


@media (min-width: 400px) and (max-width: 499px){

    #dropdown{    
        display: block !important;
            margin-right: 10px;
        float: right;}

    .row .col {
            padding: 0 1.75rem !important;
    }
    #logoTriangle{
            margin-right: 20px;
    margin-top: 5px;
    }

    #main{
            display: flow-root;
    }

    .container {
        width: 100% !important;
    }


    .logoText{}
    .hero-body {
        
    }
    .title{
        font-size: 1.7rem !important;
    }
    .columns.is-mobile{
            margin-left: 0px;
        width: 100%;
        display: block !important;
    }

    .navbar{
        height: 91px;
    }

    .navbar-menu{
        display: none !important;
        float: left !important;
        background-color:rgba(255, 255, 255, 0) !important;
        box-shadow: none !important;
        padding: 0.9rem 0 !important;
    }

    .navbar-burger{
        display: none !important;
    }

    .navbar-start{
        justify-content: flex-start;
        margin-right: auto;
        align-items: stretch;
        display: flex;
    }

    .navbar-brand{
        float: left;
    }
    .navbar-end{
        display: none;
        float: right;
    }
}


@media (min-width: 500px) and (max-width: 599px){

    #dropdown{    
        display: block !important;
            margin-right: 10px;
        float: right;}
    .row .col {
            padding: 0 1.75rem !important;
    }
    #logoTriangle{
            margin-right: 20px;
    margin-top: 5px;
    }

    #main{
            display: flow-root;
    }
    .navbar{
        height: 91px;
    }

    .navbar-menu{
        display: none !important;
        float: left !important;
        background-color:rgba(255, 255, 255, 0) !important;
        box-shadow: none !important;
        padding: 0.9rem 0 !important;
    }

    .navbar-burger{
        display: none !important;
    }

    .navbar-start{
        justify-content: flex-start;
        margin-right: auto;
        align-items: stretch;
        display: flex;
    }

    .navbar-brand{
        float: left;
    }
    .navbar-end{
        display: none;
        float: right;
    }
}


@media (min-width: 600px) and (max-width: 699px){

    #dropdown{    
            margin-right: 10px;
        float: right;
        display: none;
    }
    .row .col {
            padding: 0 1.75rem !important;
    }
    #logoTriangle{
            margin-right: 20px;
    margin-top: 5px;
    }

    #main{
            display: flow-root;
    }

    .container {
        width: 100% !important;
    }


    .navbar{
        height: 91px;
    }

    .navbar-menu{
        display: block !important;
        float: left !important;
        background-color:rgba(255, 255, 255, 0) !important;
        box-shadow: none !important;
        padding: 0.9rem 0 !important;
    }

    .navbar-burger{
        display: none !important;
    }

    .navbar-start{
        justify-content: flex-start;
        margin-right: auto;
        align-items: stretch;
        display: flex;
    }

    .navbar-brand{
        float: left;
    }
    .navbar-end{
        display: none;
        float: right;
    }
}


@media (min-width: 700px) and (max-width: 799px){

    #dropdown{    
            margin-right: 10px;
        float: right;
        display: none;
    }
    .row .col {
            padding: 0 1.75rem !important;
    }
    #logoTriangle{
            margin-right: 20px;
    margin-top: 5px;
    }

    .container {
        width: 100% !important;
    }


    .navbar{
        height: 91px;
    }

    .navbar-menu{
        display: block !important;
        float: left !important;
        background-color:rgba(255, 255, 255, 0) !important;
        box-shadow: none !important;
        padding: 0.9rem 0 !important;
    }

    .navbar-burger{
        display: none !important;
    }

    .navbar-start{
        justify-content: flex-start;
        margin-right: auto;
        align-items: stretch;
        display: flex;
    }

    .navbar-brand{
        float: left;
    }
    .navbar-end{
        float: right;
    }
}

@media (min-width: 800px) and (max-width: 899px){

    #dropdown{    
            margin-right: 10px;
        float: right;
        display: none;
    }
    .row .col {
            padding: 0 1.75rem !important;
    }
    #logoTriangle{
            margin-right: 20px;
    margin-top: 5px;
    }

    .navbar{
        height: 91px;
    }
    

    .navbar-menu{
        display: block !important;
        float: left !important;
        background-color:rgba(255, 255, 255, 0) !important;
        box-shadow: none !important;
        padding: 0.9rem 0 !important;
    }

    .navbar-burger{
        display: none !important;
    }

    .navbar-start{
        justify-content: flex-start;
        margin-right: auto;
        align-items: stretch;
        display: flex;
    }

    .navbar-brand{
        float: left;
    }
    .navbar-end{
        float: right;
    }
}


@media (min-width: 900px) and (max-width: 999px){

    #dropdown{    
            margin-right: 10px;
        float: right;
        display: none;
    }

    .row .col {
            padding: 0 1.75rem !important;
    }
    #logoTriangle{
            margin-right: 20px;
    margin-top: 5px;
    }

    .navbar{
        height: 91px;
    }

    .navbar-menu{
        display: block !important;
        float: left !important;
        background-color:rgba(255, 255, 255, 0) !important;
        box-shadow: none !important;
        padding: 0.9rem 0 !important;
    }

    .navbar-burger{
        display: none !important;
    }

    .navbar-start{
        justify-content: flex-start;
        margin-right: auto;
        align-items: stretch;
        display: flex;
    }

    .navbar-brand{
        float: left;
    }
    .navbar-end{
        float: right;
    }
}

 @media (min-width: 1000px) and (max-width: 1267px){

    #dropdown{    
            margin-right: 10px;
        float: right;
        display: none;
    }

    .row .col {
            padding: 0 1.75rem !important;
    }
    #logoTriangle{
            margin-right: 20px;
    margin-top: 5px;
    }


    .navbar{
        height: 91px;
    }

    .navbar-menu{
        display: block !important;
        float: left !important;
        background-color:rgba(255, 255, 255, 0) !important;
        box-shadow: none !important;
        padding: 0.9rem 0 !important;
    }

    .navbar-burger{
        display: none !important;
    }

    .navbar-start{
        justify-content: flex-start;
        margin-right: auto;
        align-items: stretch;
        display: flex;
    }

    .navbar-brand{
        float: left;
    }
    .navbar-end{
        float: right;
    }

 }